{
    "plugins": [
        "transform-class-properties"
    ]
}

// {
//     "presets": [
//       ["env", {
//         "modules": false,
//         "targets": {
//           "browsers": "> 2%",
//           "uglify": true
//         }
//       }]
//     ]
//   }