
.mainDivMenuBarOpen{
    margin-left: 270px;
    transition: margin-left 0.13s;
    transition-timing-function: ease-out;
}
.mainDivMenuBar{
    transition: margin-left 0.13s;
    transition-timing-function: ease-out;
}

#registerT{
    font-size: 40px;
    text-shadow: 1px 1px 20px;
    font-family:"Times New Roman";
    text-align: center;
}
#loginT{
    font-size: 40px;
    text-shadow: 1px 1px 20px;
    font-family:"Times New Roman";
    text-align: center;
}
.maindiv{
    padding-top: 7%;
}
.input{
    margin: 10px;
    /* width: 306px; */
    border-radius: 5%;
}

#card{
    border-radius: 4%;
    box-shadow: 0px 0px 20px;  
    margin: auto;
    height: 360px;
    width: 327px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
Button{
    font-family:"Times New Roman";
    width: 70%;
}
.button{
    margin-left: 24%;
    margin-top: 5%;
}
#spanDiv{
    margin-bottom: 10px;
}
span.psw {
    
    float: right;  
}
.errMsgr{
    text-align: center;
}
.msg{
    height: 15px;
    font-size: 14px;
    color: red;
    float: right;
}
.errMsg{
    text-align: center;
    margin-top: 20px;
    color: red;
}

.resetLinkMsg{
    text-align: center;
    margin-top: 30px;
    color: rgb(84, 192, 58);
    text-shadow: 2px 2px 3px;
}

.goLogin{
    margin-left: 43%;
}

#logout{
    margin-top: 50%;
    margin-left: 17%;
}
.inputRsP{
    margin-top: 20%;
}
.divVarText{
    margin-top: 25%;
}
.spanGoLogin{
    margin-left: 3%;

}
.googleLoginButtonDiv Button{
    width: 100px;
    height: 42px;
}
.socialLogin{
    display: flex;
    padding: 5px 0 10px 0;
    justify-content: space-between;
}

/********** dashboard **************/

/**navbar***/
.iconBtnEnd .sHint {
    visibility: hidden;
    width: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    font-size: smaller;


    position: absolute;
    left: 82%;
    top: 91%;
    z-index: 1;
}
.searchEnd{
    visibility: hidden;
}

#tb{
    box-shadow: 0 0 0;
}  

.iconBtn button {
    width: 48px;
    opacity: 0.5;
}
.iconBtnEnd button {
    width: 48px;
    opacity: 0.5;
    
}

/* .iconBtnEnd:hover .sHint {
    visibility: visible;
    opacity: 0.8;
  } */

.iconBtnEnd{
    margin: auto;
}
.searchBar{
    background: rgba(0,0,0,0.04);
    border-radius: 8px;
    margin-left:7%;
    display: flex;
    width: 47%;
}
.menulogo{
    display: flex;
}
.appName{
    margin: auto;
    padding-left: 8px;
    opacity: 0.5;
}
.avatarIcon button{
    width: 64px;
}
.avatarIcon {
    margin: auto;
    
}
.endBar{
    display: flex;
    margin-left: auto;
}
.searchInput{
    margin: auto;
}
.endIcon{
    display: inline-flex;
}

.logoutMenu .logoutMenuPopper{
   width: auto;
}


/*******logoutmenu********/

.logoutMenu .logoutMenuPopper{
    z-index: 1;
}
.divAvatarMenu{
    padding: 20px;
    display: flex;
}
div.MenuAvtar{
    font-size: 60px;
    height: 96px;
    width: 96px;
}
.userData{
    padding: 0 20px;
    display: grid;
    /* margin-top: 10%;   */
    text-align: center;
}
.usernameSpan{
    color: rgba(0, 0, 0, 0.75);
    font-size: 35px;
}
.userEmailSpan{
    color: rgba(0, 0, 0, 0.75);
    
}
.uploadImage{
    padding-left: 25px;
}
.uploadImageInput{
    color: rgba(0, 0, 0, 0.75);
    
}
/*****menudrawer******/

/*****addnote******/
.NotesBox{
    display: flex;
    opacity: 0.5;
    height: 46px;
    width: 598px;
    margin:108px auto 0 auto;
    box-shadow: 0 0 9px #444343b5;
    border-radius: 8px;
    /* position: absolute;
    top: 108px;
    left: 28%; */  
}

.addNoteEndIcons{
    margin: auto;
    padding: 0 12px 0 12px;
}
.titleIcon{
    margin-top: 10px;
    margin-left: auto;
    padding-right: 17px;
}

.addNoteBox{
    width: 598px;
    margin:108px auto 0 auto;
    box-shadow: 0 0 9px #444343b5;
    border-radius: 8px;

    /* position: absolute;
    top: 108px;
    left: 28%; */  
}
.takeNote{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
}
.iconClose{
    width: 100%;
    padding: 0 9px;
    margin-top: 8px;
    display: flex;
}
.addTitle{
    display: flex;
    padding: 10px 20px 0 17px;
}
#noteInput{
    font-size: 15px;
}

.addNotesInput{
    margin-left: 17px;
    padding-top: 3px;
    padding-bottom: 14px;
    padding-right: 25PX;
}
.takeNoteIcons{
    display: flex;
}
.noteCloseButton{
   float: right;
}
.iconsclass{
    padding: 0 8px 0 8px;
}

.divCloseButton{
    margin-left: auto;
    padding-right: 22px;
    padding-bottom: 4px;
}
/********Notes**********/

.divCardGrid{
    margin-top: 25px;
    width: 240px;
    /* max-height: 304px; */
}
.divCardList{
    /* margin-top: 25px; */
    width: 594px;
    /* max-height: 304px; */
    margin: 25px auto 0 auto;
}

.cardGridView{
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 770px;
}
.cardListView{
    /* margin: 2% 27%; */
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.inNotetakeNoteIcons img{
    height: 20px;
}
.inNotetakeNoteIcons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6px;
}

.inNoteiconsclass{
    opacity: .5;
}
.inNoteiconsclass:hover{
    opacity: 1;
}

.inputTitle{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 22px;
    word-wrap: break-word;
}
.inputnote{
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
.reminderDateTime{
    margin-left: 15px;
    font-size: 15px;
    padding: 7px;
    
}
.reminderDateTimeOnNote{
    margin-left: auto;
}
.divCardGrid .noteCard{
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-shadow: 0 0 0;

}
.divCardGrid .noteCard:hover{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/* .divCardGrid .noteCard:hover .inNotetakeNoteIcons{
    opacity: 1;
} */

.divCardGrid .noteCard .noteCardContent{
    padding: 16px 17px;
}
/* .divCardGrid .noteCard .noteCardContent .inNoteiconsclass{
    opacity: 0;
}  */
.divCardGrid .noteCard:hover .noteCardContent .inNoteiconsclass{
    opacity: .8;
} 
div.reminderDateTimeOnNote{
    margin-top: 10px;
    height: 25px;
}

.inputnote{
    white-space: pre-line;
}
.cardTitlePin{
    display: flex;
}
/* 
div.MuiCardContent-root-192{
    padding-left: 17px;
    padding-right: 17px;
}
div.MuiChip-root-193.reminderDateTimeOnNote{
    margin-top: 10px;
    height: 25px;
}

/* .inNoteiconsclass .alertHint {
    visibility: visible;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 1px;
    font-size: smaller;


    position: absolute;
    left: 20%;
    top: 15%;
    z-index: 1;
}
.inNoteiconsclass:hover .alertHint {
    visibility: visible;
    opacity: 0.8;
  } */

/********ReminderTab**********/
.remindeMenuHead{
    margin: 7px;
}
.reminderPopper{
    z-index: 1;
}

/********EditNoteDilogBox*********/

div.dilogBoxMainDv .editNoteDialogBox.editNoteContent{
    width: 600px;
}
.addTitlEdit{
    display: flex;
    
}

.ReminderMenu{
    position: inherit;
}

.reminderBarDialog{
    height: 44px;
    background-color: #323232;
}
.reminderBarDialogSpan{
    font-family: 'Roboto',arial,sans-serif;
    color: #fff;
    font-size: 15px;
}
/********setColors**********/
.colorMenuList .grid .colorAvatar{
    height: 26px;
    width: 26px;
    border: solid 2px #fff;
    
} 

.colorMenuList .grid .colorAvatar:hover{
    border: solid 2px #a3a3a3;
}

.colorMenu .colorPopper .colorMenuList .grid{
    padding: 3px 8px;
    width: 138px;
    justify-content: space-between;
}

/**********menubar********/
.menuDrawerList{
    border-right: 0px;
}
.menuBarIcon{
    opacity: .5;
}
.menuBarIcon:hover{
    opacity: 1;
}

.menuLabelsSpan{
    opacity: .6;
    font-size: 15px;
}

div .menuListItem{
    border-radius: 0 25px 25px 0;
}

/*************image on notes***************/

.imageOnNote{
    width: 100%;
}
.divImageAndDelIcon{
    position: relative;
}

.deleteImage{
  margin: 5px;
}
.delIconOnImage{
    right: 3px;
    position: absolute;
    bottom: 10px;
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
}


/**********label edit************/

.labelEdit img{
    opacity: .5;
}
.labelEdit img:hover{
    opacity: 1 ;
}
.editLabelSpan{
    opacity: .5;
}

.labelEdit .labelInput{
    padding-left: 10px;
    padding-right: 10px;
}


.noteLabelMenuHead{
    padding-left: 10px;
}

/* ............... */
@media only screen and (max-width: 800px) {
    .searchEnd{
        visibility: visible;
    }
    .searchBar{
        display: none;
    }
    .cardGridView{
        width: 520px;
    }
}
@media only screen and (max-width: 705px) {
    /* .divCardGrid{
        margin-top: 25px;
        width: auto;
        max-height: 304px;
        margin-left: auto;
        margin-right: auto;
    }
    .cardGridView{
        margin: 2% 0%;
        display: block;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }  */
    .appIcon{
        display: none;
    }
    button.MuiButtonBase-root-47.MuiIconButton-root-41.noteView{
        display: none;        
    }
    /* .NotesBox{
        width: auto;
        
    } */
}

@media only screen and (max-width: 600px) {
    .maindiv{
        padding-top: 30%;
    }

    #card{
        box-shadow: 0px 0px 10px;     
    }
    .NotesBox{
        width: auto;
        min-width: 310px;
    }

    .cardGridView{
        width: auto;
        display: block;
    }
    .divCardGrid {
        width: auto;
        min-width: 310px;
    }
    .divCardList {
        width: auto;
        min-width: 310px;
    }
    .addNoteBox{
        width: auto;
        min-width: 310px;
    }


    .mainDivMenuBarOpen{
        margin-left: unset;
       
    }
   
}
@media only screen and (max-width: 400px) {
    .maindiv{
        padding-top: 35%;
    }
    #card{
        box-shadow: 0px 0px 5px;        
        min-width: 310px;
        padding-left: 2%;
        padding-right: 2%;      
    }
    .MuiFormControl-fullWidth-67 {
        width: 86%;
    }
    .NotesBox {
        min-width: 310px;
    }
    /* .divCardGrid {
        width: 310px;
    }
    .divCardList {
        width: 310px;
    } */
    .addNoteBox{
        min-width: 310px;
    }
}

